# Systemd service configuration for pofw
# You can use this file if you want to start pofw during startup

[Unit]
Description=Port forwarding
After=network-online.target

[Service]
Type=simple
# If you need to bind lower ports, execute
#   setcap 'cap_net_bind_service=+ep' /usr/local/bin/pofw
User=nobody
ExecStart=/usr/local/bin/pofw /etc/pofw.conf
LimitNOFILE=1048576
# Just in case it exits (required network interface is not set up yet, crash, etc.)
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
